<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotLiquid" version="1.7.0" targetFramework="net45" />
  <package id="Firefly" version="0.4" targetFramework="net45" />
  <package id="FSharp.Reactive" version="2.0.121121" targetFramework="net45" />
  <package id="Gate" version="0.3.6" allowedVersions="[0.3.6]" targetFramework="net45" />
  <package id="MarkdownDeep.NET" version="1.5" targetFramework="net45" />
  <package id="MarkdownSharp" version="1.13.0.0" targetFramework="net45" />
  <package id="NuDoc" version="0.4.1306.1409" targetFramework="net45" />
  <package id="Owin" version="0.7" allowedVersions="[0.7]" targetFramework="net45" />
  <package id="Rx-Core" version="2.0.21114" targetFramework="net45" />
  <package id="Rx-Interfaces" version="2.0.21114" targetFramework="net45" />
  <package id="Rx-Linq" version="2.0.21114" targetFramework="net45" />
  <package id="System.IO.Abstractions" version="1.4.0.35" targetFramework="net45" />
  <package id="UnionArgParser" version="0.5.2" targetFramework="net45" />
  <package id="YamlDotNet.Core" version="1.1.16" targetFramework="net45" />
  <package id="YamlDotNet.RepresentationModel" version="1.1.15" targetFramework="net45" />
</packages>